* {
   list-style: none;
   text-decoration: none;
   color: black;
}

.selected {
   background-color: red; // Puedes cambiar esto a tu color deseado
   color: blue; // Puedes cambiar esto a tu color deseado
 }