.page{
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
}
.head{
display: flex;
justify-content: flex-end;
padding-left: 10px;
}
.logo-x{
    width: 25px;
    margin-top: 35px;
}

.camera-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .camera-video {
    width: 300px; 
   height: 200px;
    margin-bottom: 10px;
    border-radius: 5%;
  }
  .t-p{
    margin-bottom: 50px;
  }
  .text-qr{
    margin-bottom: 25px;
    width: 215px;
  }
  .text-nfc{
    margin-bottom: 25px;

    -webkit-text-stroke: thin;
}
  
  .text-barras{
    margin-bottom: 25px;
    width: 247px;
  }
  strong{
    -webkit-text-stroke: thin;
  }
  .file-logs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }

  .log-box{
    display: grid;
    width: 80px;
    justify-items: center;
  }
  .logs{
    width: 25px;
  }
  .log-i-a, .log-i-b, .log-i-c{
    background-color: lightgray;
    border-radius: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
    width: 30px;
    height: 30px;
  }
  span{
    margin-top: 10px;
    font-size: smaller;
    width: 61px;
  }


  .log-i-a, .log-i-b, .log-i-c{
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .log-i-a.active, .log-i-b.active, .log-i-c.active {
    background-color: rgb(0, 225, 255);
  }

  .qr-link-overlay, .barcode-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 10;
    width: 245px;
    height: 190px;
  }
  